/.gradle/
/.idea/
/build/

# Nested repos that should stay out of the root repo
/zMenu/
/zAuctionHouse/
/boosted-yaml/
/cloud-minecraft/

# Local documentation/vendor mirrors that should not be tracked here
/docs/zMenu/
/docs/Craftkit/craftkit-zmenu/
/docs/cloud-minecraft/

# Local Pi runtime state
.atl/
.pi/
